
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    min-height: 100vh;
}


/* edit_profile.html specific content */
.settings-content {
    padding: 20px;
}

.settings-content h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.settings-content form {
    display: flex;
    flex-direction: column;
}

.settings-content label {
    font-size: 16px;
    margin-bottom: 5px;
}

.settings-content input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width:380px;
}


.settings-content button {
    padding: 12px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.settings-content button:hover {
    background-color: #45a049;
}

