{% extends "base.html" %}

{% block title %}Send Money{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/send-money.css') }}">
{% endblock %}

{% block content %}
      
    <div class="container">
        <div class="settings-sidebar">
            <div class="logo">
                <h2>MYBANK</h2>
            </div>
            <div class="settings-list">
                <a href="/dashboard" class="setting-item">Home</a>
                <a href="/beneficiaries" class="setting-item">Transfer Money</a>
                <a href="/add_beneficiary" class="setting-item">Add Beneficiary</a>
            </div>
            <div class="logout">
                <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
            </div>
        </div>

        <div class="settings-content">
            <h1>Welcome!</h1>
            <p>Please select an option from the menu on the left to proceed.</p>
      
        </div>
    </div>
    {% endblock %}
